Repository demensky/value-transformer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, vitest related --run

test(coder): float64Decoder
  src/coder/float64/float64-decoder.test.ts
Due: prettier --write, vitest related --run

test(coder): uint8Decoder
  src/coder/uint8/uint8-decoder.test.ts
Due: prettier --write, vitest related --run

test: implement toDecode matcher
  src/coder/array/array-decoder.test.ts
  src/coder/big-int/big-int-decoder.test.ts
  src/coder/boolean/boolean-decoder.test.ts
  src/coder/date/date-decoder.test.ts
  src/coder/float64/float64-decoder.test.ts
  src/coder/int8/int8-decoder.test.ts
  src/coder/nullable/nullable-decoder.test.ts
  src/coder/reg-exp/reg-exp-decoder.test.ts
  src/coder/string/string-decoder.test.ts
  src/coder/uint/uint-decoder.test.ts
  src/coder/uint8/uint8-decoder.test.ts
  src/coder/uuid-string/uuid-string-decoder.test.ts
  test-util/to-decode.ts
  vitest.config.ts
Due: prettier --write, vitest related --run

build: fix eslint hook
  .eslintrc.json
Due: prettier --write

refactor: use `for-of` instead `for` in `toDecode`
  test-util/to-decode.ts
Due: prettier --write, vitest related --run

test(coder): enable `Invalid Date` test for `dateDecoder`
  src/coder/date/date-decoder.test.ts
  test-util/to-be-invalid-date.ts
Due: prettier --write, vitest related --run

test(coder): check `int8Decoder` for `0`
  src/coder/int8/int8-decoder.test.ts
Due: prettier --write, vitest related --run

test(coder): setDecoder
  src/coder/set/array-decoder.test.ts
Due: prettier --write, vitest related --run

test: replace outdated hack
  package.json
  pnpm-lock.yaml
  src/coder/date/date-decoder.test.ts
  test-util/to-be-invalid-date.ts
Due: prettier --write, vitest related --run

refactor: normalize type alias name
  src/index.ts
  src/transformer/union/as-union.ts
  src/transformer/union/union-transformer-transformers.ts
  src/transformer/union/union-transformer.ts
  src/type/value-transformers-tuple.ts
Due: prettier --write, vitest related --run

refactor!: config have shorter name & mocks
  src/base/__mocks__/config.ts
  src/base/config.ts
  src/coder/array/array-decoder.ts
  src/coder/array/array-encode.ts
  src/coder/big-int/big-int-decoder.ts
  src/coder/big-int/big-int-encode.ts
  src/coder/map/map-decoder.ts
  src/coder/map/map-encode.ts
  src/coder/set/set-decoder.ts
  src/coder/set/set-encode.ts
  src/coder/string/string-decoder.ts
  src/coder/string/string-encode.test.ts
  src/coder/string/string-encode.ts
  src/index.ts
Due: prettier --write, vitest related --run

0.9.0
  package.json
Due: prettier --write

fix(type): add missing types to `LittleEndianDataView`
  src/type/little-endian-data-view.ts
Due: prettier --write, vitest related --run

refactor: inline redundant functions
  src/base/compatible-with.ts
  src/base/decoder.ts
  src/base/encode.ts
  src/base/from-literal.ts
  src/base/to-literal.ts
  src/transformer/array/array-transformer.ts
  src/transformer/map/map-transformer.ts
  src/transformer/nullable/nullable-transformer.ts
  src/transformer/set/set-transformer.ts
  src/util/map-entries.ts
Due: prettier --write, vitest related --run

chore: update prettier, eslint & commitlint
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: update TypeScript & use satisfies
  package.json
  pnpm-lock.yaml
  src/transformer/boolean/boolean-transformer.ts
  src/transformer/class/class-transformer.ts
  src/transformer/reg-exp/reg-exp-transformer.ts
  src/transformer/union/union-transformer.ts
  src/type/unverified-object.ts
  src/type/unverified.ts
  src/util/identity.ts
  src/util/is-generator.ts
Due: prettier --write, vitest related --run

chore: remove unused `eslint-plugin-ava`
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(transformer)!: handle lastIndex in RegExp
  src/coder/reg-exp/reg-exp-decoder.test.ts
  src/coder/reg-exp/reg-exp-decoder.ts
  src/coder/reg-exp/reg-exp-encode.ts
  src/transformer/reg-exp/reg-exp-transformer.ts
Due: prettier --write, vitest related --run

fix!: throw exception on asymmetric regex deserialization
  src/coder/reg-exp/reg-exp-decoder.test.ts
  src/coder/reg-exp/reg-exp-decoder.ts
  src/transformer/reg-exp/reg-exp-transformer.ts
Due: prettier --write, vitest related --run

test: change matchers params order
  src/coder/array/array-decoder.test.ts
  src/coder/big-int/big-int-decoder.test.ts
  src/coder/boolean/boolean-decoder.test.ts
  src/coder/date/date-decoder.test.ts
  src/coder/float64/float64-decoder.test.ts
  src/coder/int8/int8-decoder.test.ts
  src/coder/nullable/nullable-decoder.test.ts
  src/coder/reg-exp/reg-exp-decoder.test.ts
  src/coder/set/array-decoder.test.ts
  src/coder/string/string-decoder.test.ts
  src/coder/string/string-encode.test.ts
  src/coder/uint/uint-decoder.test.ts
  src/coder/uint8/uint8-decoder.test.ts
  src/coder/uuid-string/uuid-string-decoder.test.ts
  src/util/prototype-chain.test.ts
  test-util/to-decode.ts
  test-util/to-yields-return.ts
  test-util/to-yields-throw.ts
Due: prettier --write, vitest related --run

refactor(test-util): disable useless eslint rules
  .eslintrc.json
  test-util/to-decode.ts
  test-util/to-yields-return.ts
  test-util/to-yields-throw.ts
Due: prettier --write, vitest related --run

refactor(test-util): remove irrational asymmetric matchers
  test-util/to-decode.ts
  test-util/to-yields-return.ts
  test-util/to-yields-throw.ts
Due: prettier --write, vitest related --run

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: enable `@typescript-eslint/member-ordering`
  .eslintrc.json
Due: prettier --write

refactor: extract getByteHexString
  src/coder/uuid-string/uuid-string-decoder.ts
  src/const/hex-byte-string-length.ts
  src/util/get-byte-hex-string.test.ts
  src/util/get-byte-hex-string.ts
Due: prettier --write, vitest related --run

ci: add ci
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  package.json
Due: prettier --write

ci: reduce config size
  .github/workflows/ci.yml
Due: none

ci: add test & typecheck jobs
  .github/workflows/ci.yml
  README.md
  package.json
Due: prettier --write

ci: add conventional releases
  .github/workflows/releases.yml
Due: none

chore(release): v0.9.1 [skip ci]
  package.json
Due: prettier --write

ci: publish package via GitHub
  .github/workflows/publish.yml
Due: none

feat(type): add `ReadonlyDate`
  README.md
  src/coder/date/date-decoder.test.ts
  src/coder/date/date-encode.ts
  src/index.ts
  src/transformer/date/date-transformer.ts
  src/type/readonly-date.ts
  src/util/guard/is-date.ts
  src/util/guard/is-invalid-date.ts
Due: prettier --write, vitest related --run

chore: remove deprecated TODO
  src/transformer/date/date-transformer.ts
Due: prettier --write, vitest related --run

refactor: unify list & dictionary encoding & decoding
  src/coder/array/array-decoder.ts
  src/coder/array/array-encode.ts
  src/coder/dictionary/dictionary-append.ts
  src/coder/dictionary/dictionary-decoder.ts
  src/coder/dictionary/dictionary-encode.ts
  src/coder/list/list-append.ts
  src/coder/list/list-decoder.ts
  src/coder/list/list-encode.ts
  src/coder/map/map-decoder.ts
  src/coder/map/map-encode.ts
  src/coder/set/set-decoder.ts
  src/coder/set/set-encode.ts
Due: prettier --write, vitest related --run

docs: update `toLiteral` signature
  README.md
Due: none

chore: update dependencies
  pnpm-lock.yaml
Due: none

style: reformat package.json with prettier-plugin-packagejson
  .prettierrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.ts)
  vitest related --run: any of: *.ts
