Repository demensky/value-transformer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, vitest related --run

feat(coder)!: uint encoding is now completely unambiguous
  src/coder/uint/uint-decoder.test.ts
  src/coder/uint/uint-decoder.ts
  src/coder/uint/uint-encode.test.ts
  src/coder/uint/uint-encode.ts
Due: prettier --write, vitest related --run

ci(releases): use conventionalcommits preset
  .github/workflows/releases.yml
Due: prettier --write

test: add toIterator matcher
  src/coder/uint/uint-encode.test.ts
  src/util/is-iterator.ts
  test-util/hex-data-view.ts
  test-util/hex-uint8.test.ts
  test-util/hex-uint8.ts
  test-util/to-iterator.ts
  vitest.config.ts
Due: prettier --write, vitest related --run

chore: update vitest
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update linters
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update commitlint
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: reorganize assertions
  src/coder/int16/int16-encode.ts
  src/coder/int32/int32-encode.ts
  src/coder/int8/int8-encode.ts
  src/coder/uint/uint-encode.ts
  src/coder/uint16/uint16-encode.ts
  src/coder/uint32/uint32-encode.ts
  src/coder/uint8/uint8-encode.ts
  src/coder/uuid-string/uuid-string-encode.ts
  src/transformer/int16/int16-transformer.ts
  src/transformer/int32/int32-transformer.ts
  src/transformer/int8/int8-transformer.ts
  src/transformer/uint16/uint16-transformer.ts
  src/transformer/uint32/uint32-transformer.ts
  src/transformer/uint8/uint8-transformer.ts
  src/transformer/union/union-transformer.ts
  src/transformer/uuid-string/uuid-string-transformer.ts
  src/util/guard/is-safe-uint.ts
Due: prettier --write, vitest related --run

refactor: move ValueTransformer to transformers folder
  README.md
  src/index.ts
  src/transformer/array/array-transformer.ts
  src/transformer/array/as-array.ts
  src/transformer/big-int/big-int-transformer.ts
  src/transformer/boolean/boolean-transformer.ts
  src/transformer/class/class-transformer.ts
  src/transformer/class/decorator/define-transformable-field.ts
  src/transformer/class/decorator/transform.ts
  src/transformer/class/decorator/transformable-field.ts
  src/transformer/date/date-transformer.ts
  src/transformer/enum-float64/enum-float64-transformer.ts
  src/transformer/enum-string/enum-string-transformer.ts
  src/transformer/float64/float64-transformer.ts
  src/transformer/int16/int16-transformer.ts
  src/transformer/int32/int32-transformer.ts
  src/transformer/int8/int8-transformer.ts
  src/transformer/map/as-map.ts
  src/transformer/map/map-transformer.ts
  src/transformer/never/never-transformer.ts
  src/transformer/nullable/as-nullable.ts
  src/transformer/nullable/nullable-transformer.ts
  src/transformer/reg-exp/reg-exp-transformer.ts
  src/transformer/set/as-set.ts
  src/transformer/set/set-transformer.ts
  src/transformer/string/string-transformer.ts
  src/transformer/uint16/uint16-transformer.ts
  src/transformer/uint32/uint32-transformer.ts
  src/transformer/uint8/uint8-transformer.ts
  src/transformer/union/union-transformer.ts
  src/transformer/uuid-string/uuid-string-transformer.ts
  src/transformer/value/value-transformer-input.ts
  src/transformer/value/value-transformer-output.ts
  src/transformer/value/value-transformer.ts
  src/type/value-transformers-tuple.ts
  test-util/mock-transformer.ts
Due: prettier --write, vitest related --run

refactor: cleanup tsconfig.json
  tsconfig.json
Due: prettier --write

refactor: rename isValidUnicode to isUtf8
  src/coder/string/string-encode.ts
  src/transformer/reg-exp/reg-exp-transformer.ts
  src/transformer/string/string-transformer.ts
  src/util/guard/is-utf8.test.ts
  src/util/guard/is-utf8.ts
  src/util/guard/is-valid-unicode.test.ts
Due: prettier --write, vitest related --run

build: make the build process more silent
  tsup.config.ts
Due: prettier --write, vitest related --run

feat!: move coders config to separate file
  src/coder/big-int/big-int-decoder.ts
  src/coder/big-int/big-int-encode.ts
  src/coder/dictionary/dictionary-decoder.ts
  src/coder/dictionary/dictionary-encode.ts
  src/coder/list/list-decoder.ts
  src/coder/list/list-encode.ts
  src/coder/string/string-decoder.ts
  src/coder/string/string-encode.test.ts
  src/coder/string/string-encode.ts
  src/config/__mocks__/coder-config.ts
  src/config/coder-config.ts
  src/index.ts
Due: prettier --write, vitest related --run

style: use `eslint.config.js` instead `.eslintrc.json`
  .eslintignore
  .eslintrc.json
  eslint.config.js
Due: prettier --write

style: reformat jsdoc with `@homer0/prettier-plugin-jsdoc`
  .prettierrc.json
  package.json
  pnpm-lock.yaml
  src/transformer/big-int/big-int-transformer.ts
  src/transformer/boolean/boolean-transformer.ts
  src/transformer/date/date-transformer.ts
  src/transformer/float64/float64-transformer.ts
  src/transformer/int16/int16-transformer.ts
  src/transformer/int32/int32-transformer.ts
  src/transformer/int8/int8-transformer.ts
  src/transformer/never/never-transformer.ts
  src/transformer/string/string-transformer.ts
  src/transformer/uint16/uint16-transformer.ts
  src/transformer/uint32/uint32-transformer.ts
  src/transformer/uint8/uint8-transformer.ts
  src/type/uuid-string.ts
Due: prettier --write, vitest related --run

style: enable `@typescript-eslint/no-type-alias`
  eslint.config.js
Due: none

feat: use `ts` source files instead `d.ts`
  .gitignore
  .npmignore
  .prettierignore
  build.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
  tsup.config.ts
Due: prettier --write, vitest related --run

0.10.0
  package.json
Due: prettier --write

chore: specify `preid`
  .npmrc
Due: none

0.11.0-next.0
  package.json
Due: prettier --write

fix(coder): blocks if a chunk-sized reservation is attempted
  src/data-view-chunk/data-view-chunk.ts
Due: prettier --write, vitest related --run

0.11.0-next.1
  package.json
Due: prettier --write

feat(coder): finalizing the reader even if the buffer is not yet empty
  src/buffer-reader/buffer-reader-controller.ts
  src/buffer-reader/buffer-source-iterable-reader.ts
  src/buffer-reader/buffer-source-reader-flush.ts
  src/buffer-reader/buffer-source-stream-reader.ts
  src/index.ts
Due: prettier --write, vitest related --run

0.11.0-next.2
  package.json
Due: prettier --write

0.11.0-next.3
  package.json
Due: prettier --write

feat(coder)!: use `asName` as decorator without `transform`
  src/index.ts
  src/transformer/array/as-array.ts
  src/transformer/big-int/as-big-int.ts
  src/transformer/boolean/as-boolean.ts
  src/transformer/class/as-class.ts
  src/transformer/class/decorator/define-transformable-field.ts
  src/transformer/class/decorator/transform.test.ts
  src/transformer/class/decorator/transform.ts
  src/transformer/date/as-date.ts
  src/transformer/enum-float64/as-enum-float64.ts
  src/transformer/enum-string/as-enum-string.ts
  src/transformer/float64/as-float64.ts
  src/transformer/int16/as-int16.ts
  src/transformer/int32/as-int32.ts
  src/transformer/int8/as-int8.ts
  src/transformer/map/as-map.ts
  src/transformer/never/as-never.ts
  src/transformer/nullable/as-nullable.ts
  src/transformer/reg-exp/as-reg-exp.ts
  src/transformer/set/as-set.ts
  src/transformer/string/as-string.ts
  src/transformer/uint16/as-uint16.ts
  src/transformer/uint32/as-uint32.ts
  src/transformer/uint8/as-uint8.ts
  src/transformer/union/as-union.ts
  src/transformer/uuid-string/as-uuid-string.ts
  src/transformer/value/create-value-transformer-decorator.ts
  src/transformer/value/normalize-value-transformer.ts
  src/transformer/value/value-transformer-decorator.ts
  src/transformer/value/value-transformer-like.ts
  test-util/as-mock.ts
Due: prettier --write, vitest related --run

0.11.0-next.4
  package.json
Due: prettier --write

docs: remove `@transform`
  README.md
Due: none

feat: export `extractTransformableFields`
  src/index.ts
Due: prettier --write, vitest related --run

0.11.0-next.5
  package.json
Due: prettier --write

feat!: cache `extractTransformableFields` result
  src/index.ts
  src/transformer/class/class-transformer.ts
  src/transformer/class/decorator/extract-transformable-fields.test.ts
  src/transformer/class/decorator/extract-transformable-fields.ts
  src/transformer/class/decorator/transformable-fields-map-contract.ts
  src/transformer/class/decorator/transformable-fields-map.ts
  src/transformer/value/create-value-transformer-decorator.ts
  src/util/is-not-occupied-by-transformable-field.ts
  src/util/prototype-chain.test.ts
  src/util/prototype-chain.ts
Due: prettier --write, vitest related --run

0.11.0-next.6
  package.json
Due: prettier --write

refactor: migrate to npm
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: use npm
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .prettierignore
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.yml) or (any of: *.json)) or (any of: *.ts)
  vitest related --run: any of: *.ts
